.row
  .col-md-8.col-md-offset-2
    .panel.panel-default
      .panel-heading
        .row
          %span{class: 'col-md-6'} Dialog with #{@user.username}
          %span{class: 'col-md-6 text-right'}= @user.edit_link
      .panel-body
        .messages-list{ "data-spy": "scroll", "data-offset": '20' }
          - if @dialog.present?
            = render template: 'dialogs/show'
          - else
            %p There are not messages, start your dialog now!
        .message.form= render template: 'messages/new', locals: { user: @user }
